<footer>

  <span class="copyright">
    &copy; 2020&ndash;2024 {{ config.extra.author | default(value="Jake W. Ireland")}}. Powered by <a href="https://www.getzola.org">Zola</a> and <a href="https://github.com/semanticdata/mabuya">Mabuya</a>/<a href="https://github.com/aaranxu/tale-zola">Tale</a>; inspired by <a href="https://github.com/nielsenramon/chalk">Chalk</a>.
  </span>

  <nav class="navigation-footer">
    <ul>
      <li><a href="https://github.com/jakewilliami">GitHub</a></li>
      <li><a href="https://twitter.com/JakeWIreland">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/jake-ireland-nz/">LinkedIn</a></li>
    </ul>
  </nav>

</footer>
